# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# Define functions

In [2]:
def preprocess_raw_data(df):
    
    for col in df.columns:
        df[col] = df[col].str.replace('"', '', regex=True)
        df[col] = df[col].str.replace('{', '', regex=True)
        df[col] = df[col].str.replace('}', '', regex=True)

    return df

def unique_keys(df, col):
    unq = []
    for row in range(len(df)):
        split_1 = len(df[col].iloc[row].split(':')) - 1
        
        for i in range(split_1):
            
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            unq.append(df[col].iloc[row].split(':')[i].split(',')[last_element])            
            
    print(np.unique(unq))
    return np.unique(unq)

def create_cols_target_entity(df, col):
    unq = []
    for row in tqdm(range(len(df))):
        split_1 = len(df[col].iloc[row].split(':')) - 1

        for i in range(0, split_1):
            if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
                last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
                col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element])    
                value = (df[col].iloc[row].split(':')[i+1].split(',')[0])    

            else:
                last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
                col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element])    
                value = (df[col].iloc[row].split(':')[i].split(',')[0])    

            df[col_name].iloc[row] = value
    return df

def full_community_id_and_name(df):
    
    df['name'] = np.nan
    df['full_community_id'] = np.nan

    for row in range(len(df)):
        df['name'].iloc[row] = df['Source Entity'].str.split(',').iloc[row][0].split(':')[1]
        df['full_community_id'].iloc[row] = df['Source Entity'].str.split(',').iloc[row][1].split(':')[1]

    df.drop(columns='Source Entity', inplace=True)
    return df

# Read data

In [3]:
xls = pd.ExcelFile('data/raw.xlsx')

In [4]:
xls.sheet_names

['ANAMET', 'UNS', 'ISRI', 'Materials', 'Process']

# Common `Source Entity`

In [5]:
anamet_sheet = pd.read_excel(xls, 'ANAMET')
uns_sheet = pd.read_excel(xls, 'UNS')
isri_sheet = pd.read_excel(xls, 'ISRI')
materials_sheet = pd.read_excel(xls, 'Materials')
process_sheet = pd.read_excel(xls, 'Process')

In [6]:
sheets = [anamet_sheet, uns_sheet, isri_sheet, materials_sheet, process_sheet]

for df in sheets:
    print(df.columns)

Index(['Node ID', 'Source Entity', 'Target Entity', 'Relationship',
       'Node ID.1'],
      dtype='object')
Index(['Source Entity', 'Target Entity', 'Relationship'], dtype='object')
Index(['Source Entity', 'Target Entity', 'Relationship'], dtype='object')
Index(['Source Entity', 'Target Entity', 'Relationship'], dtype='object')
Index(['Source Entity', 'Target Entity', 'Relationship'], dtype='object')

In [7]:
anamet_sheet.drop(columns=['Node ID', 'Node ID.1'], inplace=True)

In [8]:
def preprocess_raw_data(df):
    
    for col in df.columns:
        df[col] = df[col].str.replace('"', '', regex=True)
        df[col] = df[col].str.replace('{', '', regex=True)
        df[col] = df[col].str.replace('}', '', regex=True)

    return df

In [9]:
anamet_sheet = preprocess_raw_data(anamet_sheet)
uns_sheet = preprocess_raw_data(uns_sheet)
isri_sheet = preprocess_raw_data(isri_sheet)
materials_sheet = preprocess_raw_data(materials_sheet)
process_sheet = preprocess_raw_data(process_sheet)

In [10]:
se_anamet = anamet_sheet['Source Entity']
se_uns = uns_sheet['Source Entity']
se_isri = isri_sheet['Source Entity']
se_materials = materials_sheet['Source Entity']
se_process = process_sheet['Source Entity']

In [11]:
def unique_keys(df, col):
    unq = []
    for row in range(len(df)):
        split_1 = len(df[col].iloc[row].split(':')) - 1
        
        for i in range(split_1):
            
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            unq.append(df[col].iloc[row].split(':')[i].split(',')[last_element])            
            
    return np.unique(unq)

In [12]:
se_anamet_unq = unique_keys(anamet_sheet, 'Source Entity')
se_anamet_unq

array(['Category', 'Description', 'EDescription', 'GDescription',
       'full_community_id', 'name'], dtype='<U17')

`GDescripiton` and `EDescription` is the same thing. The first one is in English, while the second one is in Greek. Both of the are `Description`

In [13]:
se_uns_unq = unique_keys(uns_sheet, 'Source Entity')
se_uns_unq

array(['full_community_id', 'name'], dtype='<U17')

In [14]:
se_isri_unq = unique_keys(isri_sheet, 'Source Entity')
se_isri_unq

array(['Categorisation', 'Dimensions', 'Form', 'Free_of', 'Material',
       'Specifications', 'Title', 'full_community_id', 'name'],
      dtype='<U17')

In [15]:
se_materials_unq = unique_keys(materials_sheet, 'Source Entity')
se_materials_unq

array(['full_community_id', 'name'], dtype='<U17')

In [16]:
se_process_unq = unique_keys(process_sheet, 'Source Entity')
se_process_unq

array(['full_community_id', 'name'], dtype='<U17')

In [17]:
te_anamet_unq = unique_keys(anamet_sheet, 'Target Entity')
te_anamet_unq

array(['Categorisation', 'Category', 'Description', 'Dimensions', 'Form',
       'Free_of', 'Material', 'Specifications', 'Title', 'ewc',
       'finalValue', 'full_community_id', 'name', 'orderCount',
       'startingValue', 'startingWeight', 'waste', 'wastePercentage'],
      dtype='<U17')

In [18]:
te_uns_unq = unique_keys(uns_sheet, 'Target Entity')
te_uns_unq

array(['Ar', 'AtomicNumber', 'Density', 'MeltingPoint', 'Symbol',
       'full_community_id', 'name'], dtype='<U17')

In [19]:
te_isri_unq = unique_keys(isri_sheet, 'Target Entity')
te_isri_unq

array(['Ar', 'AtomicNumber', 'Category', 'Density', 'EDescription',
       'GDescription', 'MeltingPoint', 'Series', 'Symbol',
       'full_community_id', 'name'], dtype='<U17')

In [20]:
te_materials_unq = unique_keys(materials_sheet, 'Target Entity')
te_materials_unq

array(['Ar', 'AtomicNumber', 'Categorisation', 'Density', 'Dimensions',
       'Form', 'Free_of', 'Material', 'MeltingPoint', 'Series',
       'Specifications', 'Symbol', 'Title', 'full_community_id', 'name'],
      dtype='<U17')

In [21]:
te_process_unq = unique_keys(process_sheet, 'Target Entity')
te_process_unq

array(['Categorisation', 'Category', 'Description', 'Dimensions',
       'EDescription', 'Form', 'Free_of', 'GDescription', 'Material',
       'Specifications', 'Title', 'full_community_id', 'name'],
      dtype='<U17')

# Analyze `UNS`

In [22]:
uns_sheet.head()

,Source Entity,Target Entity,Relationship
0,"name:C83300,full_community_id:712","MeltingPoint:327.5,Ar:207.2,Symbol:Pb,name:LEA...",IS_COMPOSED_OF
1,"name:C83300,full_community_id:712","MeltingPoint:231.9,Ar:118.71,Symbol:Sn,name:TI...",IS_COMPOSED_OF
2,"name:C83300,full_community_id:712","MeltingPoint:1085,Ar:63.546,Symbol:Cu,name:COP...",IS_COMPOSED_OF
3,"name:C83300,full_community_id:712","MeltingPoint:419.5,Ar:65.38,Symbol:Zn,name:ZIN...",IS_COMPOSED_OF
4,"name:C83300,full_community_id:712","MeltingPoint:419.5,Ar:65.38,Symbol:Zn,name:ZIN...",IS_COMPOSED_OF

### Create columns for `se_uns_unq`

In [23]:
se_uns_unq

array(['full_community_id', 'name'], dtype='<U17')

In [24]:
for col in se_uns_unq:
    uns_sheet[col+"_src"] = np.nan

Fill the above columns

In [25]:
for row in tqdm(range(len(uns_sheet))):
    
    length = len(uns_sheet['Source Entity'].str.split(',').iloc[row])
    
    for j in range(length):
        
        col_name = uns_sheet['Source Entity'].str.split(',').iloc[row][j].split(':')[0]+'_src'
        value = uns_sheet['Source Entity'].str.split(',').iloc[row][j].split(':')[1]
        
        uns_sheet[col_name].iloc[row] = value
        
uns_sheet.drop('Source Entity', axis=1, inplace=True)

  0%|                                                  | 0/7118 [00:00<?, ?it/s]/tmp/ipykernel_12998/786414604.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uns_sheet[col_name].iloc[row] = value
100%|███████████████████████████████████████| 7118/7118 [03:51<00:00, 30.73it/s]

In [26]:
uns_sheet.head(2)

,Target Entity,Relationship,full_community_id_src,name_src
0,"MeltingPoint:327.5,Ar:207.2,Symbol:Pb,name:LEA...",IS_COMPOSED_OF,712,C83300
1,"MeltingPoint:231.9,Ar:118.71,Symbol:Sn,name:TI...",IS_COMPOSED_OF,712,C83300

### Create columns for `te_uns_unq`

In [27]:
te_uns_unq

array(['Ar', 'AtomicNumber', 'Density', 'MeltingPoint', 'Symbol',
       'full_community_id', 'name'], dtype='<U17')

In [28]:
for col in te_uns_unq:
    uns_sheet[col+"_trg"] = np.nan

Fill the above columns

In [29]:
uns_sheet

,Target Entity,Relationship,full_community_id_src,name_src,Ar_trg,AtomicNumber_trg,Density_trg,MeltingPoint_trg,Symbol_trg,full_community_id_trg,name_trg
0,"MeltingPoint:327.5,Ar:207.2,Symbol:Pb,name:LEA...",IS_COMPOSED_OF,712,C83300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"MeltingPoint:231.9,Ar:118.71,Symbol:Sn,name:TI...",IS_COMPOSED_OF,712,C83300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"MeltingPoint:1085,Ar:63.546,Symbol:Cu,name:COP...",IS_COMPOSED_OF,712,C83300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"MeltingPoint:419.5,Ar:65.38,Symbol:Zn,name:ZIN...",IS_COMPOSED_OF,712,C83300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"MeltingPoint:419.5,Ar:65.38,Symbol:Zn,name:ZIN...",IS_COMPOSED_OF,712,C83300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7113,"MeltingPoint:1085,Ar:63.546,Symbol:Cu,name:COP...",IS_COMPOSED_OF,1961,C11907,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7114,"MeltingPoint:961.8,Ar:107.8682,Symbol:Ag,name:...",IS_COMPOSED_OF,1961,C11907,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7115,"MeltingPoint:1085,Ar:63.546,Symbol:Cu,name:COP...",IS_COMPOSED_OF,1962,C13100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7116,"MeltingPoint:1085,Ar:63.546,Symbol:Cu,name:COP...",IS_COMPOSED_OF,1963,C13150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7117,"MeltingPoint:1085,Ar:63.546,Symbol:Cu,name:COP...",IS_COMPOSED_OF,1964,C14730,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df = uns_sheet
col = 'Target Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
        col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
        value = (df[col].iloc[row].split(':')[i+1].split(',')[0])    

        df[col_name].iloc[row] = value

  0%|                                                  | 0/7118 [00:00<?, ?it/s]/tmp/ipykernel_12998/2543632640.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = value
100%|██████████████████████████████████████| 7118/7118 [00:07<00:00, 946.52it/s]

In [31]:
uns_sheet.drop('Target Entity', axis=1, inplace=True)
uns_sheet.head(2)

,Relationship,full_community_id_src,name_src,Ar_trg,AtomicNumber_trg,Density_trg,MeltingPoint_trg,Symbol_trg,full_community_id_trg,name_trg
0,IS_COMPOSED_OF,712,C83300,207.2,82,11.29,327.5,Pb,329,LEAD
1,IS_COMPOSED_OF,712,C83300,118.71,50,5.75,231.9,Sn,326,TIN

In [32]:
uns_sheet.to_csv('uns_df.csv')

## READ `UNS` DATA

In [33]:
uns_sheet = pd.read_csv('uns_df.csv', index_col=0)
uns_sheet

,Relationship,full_community_id_src,name_src,Ar_trg,AtomicNumber_trg,Density_trg,MeltingPoint_trg,Symbol_trg,full_community_id_trg,name_trg
0,IS_COMPOSED_OF,712,C83300,207.2000,82.0,11.29,327.5,Pb,329,LEAD
1,IS_COMPOSED_OF,712,C83300,118.7100,50.0,5.75,231.9,Sn,326,TIN
2,IS_COMPOSED_OF,712,C83300,63.5460,29.0,8.96,1085,Cu,319,COPPER
3,IS_COMPOSED_OF,712,C83300,65.3800,30.0,7.13,419.5,Zn,328,ZINC
4,IS_COMPOSED_OF,712,C83300,65.3800,30.0,7.13,419.5,Zn,328,ZINC
...,...,...,...,...,...,...,...,...,...,...
7113,IS_COMPOSED_OF,1961,C11907,63.5460,29.0,8.96,1085,Cu,319,COPPER
7114,IS_COMPOSED_OF,1961,C11907,107.8682,47.0,10.49,961.8,Ag,429,SILVER
7115,IS_COMPOSED_OF,1962,C13100,63.5460,29.0,8.96,1085,Cu,319,COPPER
7116,IS_COMPOSED_OF,1963,C13150,63.5460,29.0,8.96,1085,Cu,319,COPPER
7117,IS_COMPOSED_OF,1964,C14730,63.5460,29.0,8.96,1085,Cu,319,COPPER

In [34]:
uns_sheet['Relationship'].value_counts()

IS_COMPOSED_OF    7118
Name: Relationship, dtype: int64

Τι σημαίνει `IS_COMPOSED_OF` σε σχέση με τις columns?

# Analyze `Materials`

In [35]:
materials_sheet.head()

,Source Entity,Target Entity,Relationship
0,"name:ALUMINUM,full_community_id:244","Free_of:paper, plastic, ink, and any other con...",IS_COMPOSED_OF
1,"name:ALUMINUM,full_community_id:244","Free_of:paper, plastic, excessively inked shee...",IS_COMPOSED_OF
2,"name:ALUMINUM,full_community_id:244","Free_of:Radioactive material, dross, or ash,Ca...",IS_COMPOSED_OF
3,"name:ALUMINUM,full_community_id:244","Free_of:Radar chaff foil, chemically etched fo...",IS_COMPOSED_OF
4,"name:ALUMINUM,full_community_id:244","Free_of:Hair wire, wire screen, dirt and other...",IS_COMPOSED_OF

### Create columns for `se_materials_unq`

In [36]:
se_materials_unq

array(['full_community_id', 'name'], dtype='<U17')

In [37]:
for col in se_materials_unq:
    materials_sheet[col+"_src"] = np.nan

Fill the above columns

In [38]:
for row in tqdm(range(len(materials_sheet))):
    
    length = len(materials_sheet['Source Entity'].str.split(',').iloc[row])
    
    for j in range(length):
        
        col_name = materials_sheet['Source Entity'].str.split(',').iloc[row][j].split(':')[0]+'_src'
        value = materials_sheet['Source Entity'].str.split(',').iloc[row][j].split(':')[1]
        
        materials_sheet[col_name].iloc[row] = value
        
materials_sheet.drop('Source Entity', axis=1, inplace=True)
materials_sheet.head()

  0%|                                                   | 0/364 [00:00<?, ?it/s]/tmp/ipykernel_12998/3347723871.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  materials_sheet[col_name].iloc[row] = value
100%|████████████████████████████████████████| 364/364 [00:00<00:00, 479.58it/s]

,Target Entity,Relationship,full_community_id_src,name_src
0,"Free_of:paper, plastic, ink, and any other con...",IS_COMPOSED_OF,244,ALUMINUM
1,"Free_of:paper, plastic, excessively inked shee...",IS_COMPOSED_OF,244,ALUMINUM
2,"Free_of:Radioactive material, dross, or ash,Ca...",IS_COMPOSED_OF,244,ALUMINUM
3,"Free_of:Radar chaff foil, chemically etched fo...",IS_COMPOSED_OF,244,ALUMINUM
4,"Free_of:Hair wire, wire screen, dirt and other...",IS_COMPOSED_OF,244,ALUMINUM

### Create columns for `te_materials_unq`

In [39]:
te_materials_unq

array(['Ar', 'AtomicNumber', 'Categorisation', 'Density', 'Dimensions',
       'Form', 'Free_of', 'Material', 'MeltingPoint', 'Series',
       'Specifications', 'Symbol', 'Title', 'full_community_id', 'name'],
      dtype='<U17')

In [40]:
for col in te_materials_unq:
    materials_sheet[col+"_trg"] = np.nan

Fill the above columns

In [41]:
df = materials_sheet
col = 'Target Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    

        else:
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    
        
        value_to_fill = set(value) - set(te_materials_unq)
        df[col_name].iloc[row] = list(value_to_fill)
#         print(col_name, list(set(value) - set(te_materials_unq)))

  0%|                                                   | 0/364 [00:00<?, ?it/s]/tmp/ipykernel_12998/887130170.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = list(value_to_fill)
100%|████████████████████████████████████████| 364/364 [00:00<00:00, 692.93it/s]

In [42]:
materials_sheet.drop('Target Entity', axis=1, inplace=True)
materials_sheet

,Relationship,full_community_id_src,name_src,Ar_trg,AtomicNumber_trg,Categorisation_trg,Density_trg,Dimensions_trg,Form_trg,Free_of_trg,Material_trg,MeltingPoint_trg,Series_trg,Specifications_trg,Symbol_trg,Title_trg,full_community_id_trg,name_trg
0,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,[Nonferrous Scrap - Aluminum],NaN,[Minimum size of 3� (8 cm) in any direction],[Lithographic Sheets],"[ ink, paper, and any other contaminants, pl...",[Aluminum],NaN,NaN,"[New, clean. To consist of 1000 and/or 3000 s...",NaN,"[New, Clean Aluminum Lithographic Sheets]",[51],[Tabloid]
1,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,[Nonferrous Scrap - Aluminum],NaN,NaN,[Lithographic Sheets],"[paper, excessively inked sheets, and any ot...",[Aluminum ],NaN,NaN,[Clean. To consist of 1000 and/or 3000 series ...,NaN,[Clean Aluminum Lithographic Sheets],[50],[Tablet]
2,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,[Nonferrous Scrap - Aluminum],NaN,NaN,[Nonferrous Scrap],"[Radioactive material, or ash, dross]",NaN,NaN,NaN,"[ and zinc, Shall be made up of a combination ...",NaN,[Shredded Nonferrous Scrap (predominantly alum...,[97],[Zorba]
3,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,[Nonferrous Scrap - Aluminum],NaN,NaN,[Foil],"[Radar chaff foil, laminated foils, iron, c...",[Aluminum],NaN,NaN,[ 3000 and 8000 series aluminum alloy. Materia...,NaN,[Post Consumer Aluminum Foil],[79],[Tesla]
4,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,[Nonferrous Scrap - Aluminum],NaN,[Minimum thickness of .015� (.38 mm)],[Clippings and Solids],"[Hair wire, dirt and other nonmetallic items....",[Aluminum],NaN,NaN,"[New, clean, uncoated and unpainted aluminum...",NaN,[Segregated New Aluminum Alloy Clippings and S...,[85],[Tooth]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,IS_COMPOSED_OF,707,MONEL,NaN,NaN,[Nonferrous Scrap - Nickel/Stainless/Hi Temp],NaN,NaN,[Solids],"[ non-metallic filling, foreign attachments, ...",[Monel ],NaN,NaN,[Consist of soldered and/or brazed miscellaneo...,NaN,[Soldered Monel Sheet and Solids],[137],[Junto]
360,IS_COMPOSED_OF,707,MONEL,NaN,NaN,[Nonferrous Scrap - Nickel/Stainless/Hi Temp],NaN,NaN,[Solids],NaN,[K-Monel],NaN,NaN,[Clean ],NaN,[K-Monel Solids],[136],[Indian]
361,IS_COMPOSED_OF,707,MONEL,NaN,NaN,[Nonferrous Scrap - Nickel/Stainless/Hi Temp],NaN,NaN,"[ pipe, tube, bar, rod, other wrought scra...",[Foreign attachments or all other contamination.],[R-Monel],NaN,NaN,"[ pipe, tube, bar, rod, or any other wroug...",NaN,[New R-Monel Clippings and Solids],[133],[Hitch]
362,IS_COMPOSED_OF,708,R-MONEL,NaN,NaN,[Nonferrous Scrap - Nickel/Stainless/Hi Temp],NaN,NaN,"[ pipe, tube, bar, rod, other wrought scra...",[Foreign attachments or all other contamination.],[R-Monel],NaN,NaN,"[ pipe, tube, bar, rod, or any other wroug...",NaN,[New R-Monel Clippings and Solids],[133],[Hitch]
363,IS_COMPOSED_OF,709,K-MONEL,NaN,NaN,[Nonferrous Scrap - Nickel/Stainless/Hi Temp],NaN,NaN,[Solids],NaN,[K-Monel],NaN,NaN,[Clean ],NaN,[K-Monel Solids],[136],[Indian]

In [43]:
materials_sheet.to_csv('materials_df.csv')

## READ `MATERIALS` DATA

In [44]:
materials_sheet = pd.read_csv('materials_df.csv', index_col=0)

In [45]:
materials_sheet['Relationship'].value_counts()

CONTAINS          207
IS_COMPOSED_OF    157
Name: Relationship, dtype: int64

In [46]:
materials_sheet.head()

,Relationship,full_community_id_src,name_src,Ar_trg,AtomicNumber_trg,Categorisation_trg,Density_trg,Dimensions_trg,Form_trg,Free_of_trg,Material_trg,MeltingPoint_trg,Series_trg,Specifications_trg,Symbol_trg,Title_trg,full_community_id_trg,name_trg
0,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,['Nonferrous Scrap - Aluminum'],NaN,['Minimum size of 3� (8 cm) in any direction'],['Lithographic Sheets'],"[' ink', 'paper', ' and any other contaminants...",['Aluminum'],NaN,NaN,"['New', ' clean. To consist of 1000 and/or 300...",NaN,"['New', ' Clean Aluminum Lithographic Sheets']",['51'],['Tabloid']
1,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,['Nonferrous Scrap - Aluminum'],NaN,NaN,['Lithographic Sheets'],"['paper', ' excessively inked sheets', ' and a...",['Aluminum '],NaN,NaN,['Clean. To consist of 1000 and/or 3000 series...,NaN,['Clean Aluminum Lithographic Sheets'],['50'],['Tablet']
2,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,['Nonferrous Scrap - Aluminum'],NaN,NaN,['Nonferrous Scrap'],"['Radioactive material', ' or ash', ' dross']",NaN,NaN,NaN,"[' and zinc', 'Shall be made up of a combinati...",NaN,['Shredded Nonferrous Scrap (predominantly alu...,['97'],['Zorba']
3,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,['Nonferrous Scrap - Aluminum'],NaN,NaN,['Foil'],"['Radar chaff foil', ' laminated foils', ' iro...",['Aluminum'],NaN,NaN,[' 3000 and 8000 series aluminum alloy. Materi...,NaN,['Post Consumer Aluminum Foil'],['79'],['Tesla']
4,IS_COMPOSED_OF,244,ALUMINUM,NaN,NaN,['Nonferrous Scrap - Aluminum'],NaN,['Minimum thickness of .015� (.38 mm)'],['Clippings and Solids'],"['Hair wire', ' dirt and other nonmetallic ite...",['Aluminum'],NaN,NaN,"['New', ' clean', ' uncoated and unpainted alu...",NaN,['Segregated New Aluminum Alloy Clippings and ...,['85'],['Tooth']

# Analyze `ISRI`

In [47]:
isri_sheet.head()

,Source Entity,Target Entity,Relationship
0,"Categorisation:Nonferrous Scrap - Red Metals,S...","name:COPPER,full_community_id:249",IS_COMPOSED_OF
1,"Categorisation:Nonferrous Scrap - Red Metals,S...","name:Pyrometallurgical,full_community_id:257",IS_PROCESSED_WITH
2,"Categorisation:Nonferrous Scrap - Red Metals,S...",GDescription:COPPER SCRAP MILLBERRY CABLES FOR...,IS_EQUIVALENT_TO
3,"Categorisation:Nonferrous Scrap - Red Metals,S...",GDescription:COPPER SCRAP MILLBERRY AS PER ISR...,IS_EQUIVALENT_TO
4,"Free_of:Brittle Burnt Wire, Copper Tubing ,Cat...","name:Pyrometallurgical,full_community_id:257",IS_PROCESSED_WITH

### Create columns for `se_isri_unq`

In [48]:
se_isri_unq

array(['Categorisation', 'Dimensions', 'Form', 'Free_of', 'Material',
       'Specifications', 'Title', 'full_community_id', 'name'],
      dtype='<U17')

In [49]:
for col in se_isri_unq:
    isri_sheet[col+"_src"] = np.nan

Fill the above columns

In [50]:
df = isri_sheet
col = 'Source Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_src')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    

        else:
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_src')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    
        
        value_to_fill = set(value) - set(te_materials_unq)
        df[col_name].iloc[row] = list(value_to_fill)
#         print(col_name, list(set(value) - set(te_materials_unq)))

  0%|                                                   | 0/279 [00:00<?, ?it/s]/tmp/ipykernel_12998/334691039.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = list(value_to_fill)
100%|████████████████████████████████████████| 279/279 [00:00<00:00, 620.68it/s]

In [51]:
isri_sheet.drop('Source Entity', axis=1, inplace=True)
isri_sheet.head(2)

,Target Entity,Relationship,Categorisation_src,Dimensions_src,Form_src,Free_of_src,Material_src,Specifications_src,Title_src,full_community_id_src,name_src
0,"name:COPPER,full_community_id:249",IS_COMPOSED_OF,[Nonferrous Scrap - Red Metals],[Wire gauge subject to agreement between buyer...,[Wire ],NaN,[Copper ],"[Bare, Unalloyed, Uncoated]",[No. 1 Copper Wire],[0],[Berry]
1,"name:Pyrometallurgical,full_community_id:257",IS_PROCESSED_WITH,[Nonferrous Scrap - Red Metals],[Wire gauge subject to agreement between buyer...,[Wire ],NaN,[Copper ],"[Bare, Unalloyed, Uncoated]",[No. 1 Copper Wire],[0],[Berry]

### Create columns for `te_isri_unq`

In [52]:
te_isri_unq

array(['Ar', 'AtomicNumber', 'Category', 'Density', 'EDescription',
       'GDescription', 'MeltingPoint', 'Series', 'Symbol',
       'full_community_id', 'name'], dtype='<U17')

In [53]:
for col in te_isri_unq:
    isri_sheet[col+"_trg"] = np.nan

Fill the above columns

In [54]:
df = isri_sheet
col = 'Target Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    

        else:
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    
        
        value_to_fill = set(value) - set(te_materials_unq)
        df[col_name].iloc[row] = list(value_to_fill)
#         print(col_name, list(set(value) - set(te_materials_unq)))

  0%|                                                   | 0/279 [00:00<?, ?it/s]/tmp/ipykernel_12998/3263484221.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = list(value_to_fill)
100%|███████████████████████████████████████| 279/279 [00:00<00:00, 1761.02it/s]

In [55]:
isri_sheet.drop('Target Entity', axis=1, inplace=True)
isri_sheet.head(2)

,Relationship,Categorisation_src,Dimensions_src,Form_src,Free_of_src,Material_src,Specifications_src,Title_src,full_community_id_src,name_src,...,AtomicNumber_trg,Category_trg,Density_trg,EDescription_trg,GDescription_trg,MeltingPoint_trg,Series_trg,Symbol_trg,full_community_id_trg,name_trg
0,IS_COMPOSED_OF,[Nonferrous Scrap - Red Metals],[Wire gauge subject to agreement between buyer...,[Wire ],NaN,[Copper ],"[Bare, Unalloyed, Uncoated]",[No. 1 Copper Wire],[0],[Berry],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[249],[COPPER]
1,IS_PROCESSED_WITH,[Nonferrous Scrap - Red Metals],[Wire gauge subject to agreement between buyer...,[Wire ],NaN,[Copper ],"[Bare, Unalloyed, Uncoated]",[No. 1 Copper Wire],[0],[Berry],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[257],[Pyrometallurgical]

In [56]:
isri_sheet.to_csv('isri_df.csv')

# READ `ISRI` DATA

In [57]:
isri_sheet = pd.read_csv('isri_df.csv', index_col=0)
isri_sheet.head()

,Relationship,Categorisation_src,Dimensions_src,Form_src,Free_of_src,Material_src,Specifications_src,Title_src,full_community_id_src,name_src,...,AtomicNumber_trg,Category_trg,Density_trg,EDescription_trg,GDescription_trg,MeltingPoint_trg,Series_trg,Symbol_trg,full_community_id_trg,name_trg
0,IS_COMPOSED_OF,['Nonferrous Scrap - Red Metals'],['Wire gauge subject to agreement between buye...,['Wire '],NaN,['Copper '],"['Bare', ' Unalloyed', ' Uncoated']",['No. 1 Copper Wire'],['0'],['Berry'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['249'],['COPPER']
1,IS_PROCESSED_WITH,['Nonferrous Scrap - Red Metals'],['Wire gauge subject to agreement between buye...,['Wire '],NaN,['Copper '],"['Bare', ' Unalloyed', ' Uncoated']",['No. 1 Copper Wire'],['0'],['Berry'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['257'],['Pyrometallurgical']
2,IS_EQUIVALENT_TO,['Nonferrous Scrap - Red Metals'],['Wire gauge subject to agreement between buye...,['Wire '],NaN,['Copper '],"['Bare', ' Unalloyed', ' Uncoated']",['No. 1 Copper Wire'],['0'],['Berry'],...,NaN,"['EDescription', 'Non-Ferrous']",NaN,['ΣΚΡΑΠ ΚΑΛΩΔΙΩΝ ΧΑΛΚΟΥ Α ΠΡΟΣ ΑΠΟΦΛ.(ΥΛΗ)'],"['Category', 'COPPER SCRAP MILLBERRY CABLES FO...",NaN,NaN,NaN,['465'],['40014']
3,IS_EQUIVALENT_TO,['Nonferrous Scrap - Red Metals'],['Wire gauge subject to agreement between buye...,['Wire '],NaN,['Copper '],"['Bare', ' Unalloyed', ' Uncoated']",['No. 1 Copper Wire'],['0'],['Berry'],...,NaN,"['EDescription', 'Non-Ferrous']",NaN,['ΣΚΡΑΠ ΧΑΛΚΟΥ Α1'],"['Category', 'COPPER SCRAP MILLBERRY AS PER IS...",NaN,NaN,NaN,['487'],['50018']
4,IS_PROCESSED_WITH,['Nonferrous Scrap - Red Metals'],['Wire gauge subject to agreement between buye...,['Wire and Cable '],"[' Copper Tubing ', 'Brittle Burnt Wire']",['Copper '],"[' Unalloyed', ' Untinned', ' Uncoated', 'Clean']",['No. 1 Copper Wire'],['1'],['Barley'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['257'],['Pyrometallurgical']

In [58]:
isri_sheet['Relationship'].value_counts()

IS_COMPOSED_OF       191
IS_PROCESSED_WITH     50
IS_EQUIVALENT_TO      33
PRODUCES               4
CONTAINS               1
Name: Relationship, dtype: int64

Τι σημαίνουν όλα αυτά?

# Analyze `PROCESS`

In [59]:
process_sheet.head()

,Source Entity,Target Entity,Relationship
0,"name:Pyrometallurgical,full_community_id:257",Free_of:semi-red brass castings (78% to 81% co...,IS_PROCESSED_WITH
1,"name:Pyrometallurgical,full_community_id:257","Categorisation:Nonferrous Scrap - Red Metals,S...",IS_PROCESSED_WITH
2,"name:Pyrometallurgical,full_community_id:257","Free_of:brass forgings, silicon bronze, alumin...",IS_PROCESSED_WITH
3,"name:Pyrometallurgical,full_community_id:257","Categorisation:Nonferrous Scrap - Red Metals,S...",IS_PROCESSED_WITH
4,"name:Pyrometallurgical,full_community_id:257","Free_of:Yellow boxes and iron-backed boxes,Cat...",IS_PROCESSED_WITH

### Create columns for `se_process_unq`

In [60]:
se_process_unq

array(['full_community_id', 'name'], dtype='<U17')

In [61]:
for col in se_process_unq:
    process_sheet[col+"_src"] = np.nan

Fill the above columns

In [62]:
df = process_sheet
col = 'Source Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_src')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    

        else:
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_src')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    
        
        value_to_fill = set(value) - set(te_materials_unq)
        df[col_name].iloc[row] = list(value_to_fill)
#         print(col_name, list(set(value) - set(te_materials_unq)))

  0%|                                                   | 0/105 [00:00<?, ?it/s]/tmp/ipykernel_12998/3871552412.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = list(value_to_fill)
100%|███████████████████████████████████████| 105/105 [00:00<00:00, 1991.80it/s]

In [63]:
process_sheet.drop('Source Entity', axis=1, inplace=True)
process_sheet.head(2)

,Target Entity,Relationship,full_community_id_src,name_src
0,Free_of:semi-red brass castings (78% to 81% co...,IS_PROCESSED_WITH,[257],[Pyrometallurgical]
1,"Categorisation:Nonferrous Scrap - Red Metals,S...",IS_PROCESSED_WITH,[257],[Pyrometallurgical]

### Create columns for `te_process_unq`

In [64]:
te_process_unq

array(['Categorisation', 'Category', 'Description', 'Dimensions',
       'EDescription', 'Form', 'Free_of', 'GDescription', 'Material',
       'Specifications', 'Title', 'full_community_id', 'name'],
      dtype='<U17')

In [65]:
process_sheet['Target Entity'].iloc[0]

'Free_of:semi-red brass castings (78% to 81% copper); railroad car boxes and other similar high-lead alloys; cocks and faucets; closed water meters; gates; pot pieces; ingots and burned brass; aluminum, silicon, and manganese bronzes; iron and non-metallics.,Categorisation:Nonferrous Scrap - Red Metals,Specifications:Made of copper, tin, zinc, and/or lead,Form:Valves, machinery bearings and other machinery parts, including miscellaneous castings,name:Ebony,Dimensions:No piece to measure more than 12� over any one part or weigh over 100 lbs.,Title:Composition or Red Brass,Material:Red Brass,full_community_id:13'

In [66]:
for col in te_process_unq:
    process_sheet[col+"_trg"] = np.nan

Fill the above columns

In [67]:
df = process_sheet
col = 'Target Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    

        else:
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    
        
        value_to_fill = set(value) - set(te_materials_unq)
        df[col_name].iloc[row] = list(value_to_fill)
#         print(col_name, list(set(value) - set(te_materials_unq)))

  0%|                                                   | 0/105 [00:00<?, ?it/s]/tmp/ipykernel_12998/452848140.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = list(value_to_fill)
100%|████████████████████████████████████████| 105/105 [00:00<00:00, 717.38it/s]

In [68]:
process_sheet.drop('Target Entity', axis=1, inplace=True)
process_sheet.head(2)

,Relationship,full_community_id_src,name_src,Categorisation_trg,Category_trg,Description_trg,Dimensions_trg,EDescription_trg,Form_trg,Free_of_trg,GDescription_trg,Material_trg,Specifications_trg,Title_trg,full_community_id_trg,name_trg
0,IS_PROCESSED_WITH,[257],[Pyrometallurgical],[Nonferrous Scrap - Red Metals],NaN,NaN,[No piece to measure more than 12� over any on...,NaN,"[Valves, including miscellaneous castings, m...",[ and manganese bronzes; iron and non-metallic...,NaN,[Red Brass],"[ zinc, Made of copper, tin, and/or lead]",[Composition or Red Brass],[13],[Ebony]
1,IS_PROCESSED_WITH,[257],[Pyrometallurgical],[Nonferrous Scrap - Red Metals],NaN,NaN,NaN,NaN,[Scrap borings and turnings],NaN,NaN,[Brass],[ and zinc. Turnings shall be unmixed and have...,[Lead-Free Bismuth Brass Turnings],[15],[Ecstatic]

In [69]:
process_sheet.to_csv('process_df.csv')

# READ `PROCESS` DATA

In [70]:
process_sheet = pd.read_csv('process_df.csv', index_col=0)
process_sheet.head()

,Relationship,full_community_id_src,name_src,Categorisation_trg,Category_trg,Description_trg,Dimensions_trg,EDescription_trg,Form_trg,Free_of_trg,GDescription_trg,Material_trg,Specifications_trg,Title_trg,full_community_id_trg,name_trg
0,IS_PROCESSED_WITH,['257'],['Pyrometallurgical'],['Nonferrous Scrap - Red Metals'],NaN,NaN,['No piece to measure more than 12� over any o...,NaN,"['Valves', ' including miscellaneous castings'...",[' and manganese bronzes; iron and non-metalli...,NaN,['Red Brass'],"[' zinc', 'Made of copper', ' tin', ' and/or l...",['Composition or Red Brass'],['13'],['Ebony']
1,IS_PROCESSED_WITH,['257'],['Pyrometallurgical'],['Nonferrous Scrap - Red Metals'],NaN,NaN,NaN,NaN,['Scrap borings and turnings'],NaN,NaN,['Brass'],[' and zinc. Turnings shall be unmixed and hav...,['Lead-Free Bismuth Brass Turnings'],['15'],['Ecstatic']
2,IS_PROCESSED_WITH,['257'],['Pyrometallurgical'],['Nonferrous Scrap - Red Metals'],NaN,NaN,['no piece to measure more than 12 inches over...,NaN,['Castings in crucible shape '],"['brass forgings', ' silicon bronze', ' alumin...",NaN,NaN,['not to contain more than 15% nickel plated m...,['Yellow Brass Castings'],['26'],['Ivory']
3,IS_PROCESSED_WITH,['257'],['Pyrometallurgical'],['Nonferrous Scrap - Red Metals'],NaN,NaN,NaN,NaN,['Rod ends and forgings'],NaN,NaN,['Leaded Brass'],[' zinc and lead. Turnings shall be unmixed an...,['Leaded Brass Scrap Rod Ends and Forgings'],['41'],['Niche']
4,IS_PROCESSED_WITH,['257'],['Pyrometallurgical'],['Nonferrous Scrap - Red Metals'],NaN,NaN,NaN,NaN,['Red car boxes (clean journals)'],['Yellow boxes and iron-backed boxes'],NaN,NaN,['Standard unlined and/or sweated railroad box...,['Unlined Standard Red Car Boxes (Clean Journa...,['22'],['Fence']

In [71]:
process_sheet['Relationship'].value_counts()

IS_PROCESSED_WITH    101
PRODUCES               4
Name: Relationship, dtype: int64

Τι σημαίνουν όλα αυτά?

# Analyze `ANAMET`

In [72]:
anamet_sheet.head()

,Source Entity,Target Entity,Relationship
0,Description:ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 ...,"Description:Σύρματα + διάφορο,Category:Ferrous...",CONTAINS
1,Description:ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 ...,"Description:Βαρύ για ΣΟΒΕΛ,Category:Ferrous,na...",CONTAINS
2,Description:ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 ...,Description:ζάντες + βαρύ προς shredder κλπ απ...,CONTAINS
3,Description:ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 ...,"Category:Ferrous,Description:κουτάκι,name:9101...",CONTAINS
4,Description:ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 ...,"Category:Ferrous,Description:άγνωστο,name:9000...",CONTAINS

### Create columns for `se_anamet_unq`

In [73]:
se_anamet_unq

array(['Category', 'Description', 'EDescription', 'GDescription',
       'full_community_id', 'name'], dtype='<U17')

In [74]:
for col in se_anamet_unq:
    anamet_sheet[col+"_src"] = np.nan

Fill the above columns

In [75]:
df = anamet_sheet
col = 'Source Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_src')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    

        else:
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_src')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    
        
        value_to_fill = set(value) - set(te_materials_unq)
        df[col_name].iloc[row] = list(value_to_fill)
#         print(col_name, list(set(value) - set(te_materials_unq)))

  0%|                                                  | 0/1234 [00:00<?, ?it/s]/tmp/ipykernel_12998/3444953912.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = list(value_to_fill)
100%|█████████████████████████████████████| 1234/1234 [00:01<00:00, 1203.88it/s]

In [76]:
anamet_sheet.drop('Source Entity', axis=1, inplace=True)
anamet_sheet.head(2)

,Target Entity,Relationship,Category_src,Description_src,EDescription_src,GDescription_src,full_community_id_src,name_src
0,"Description:Σύρματα + διάφορο,Category:Ferrous...",CONTAINS,[Ferrous],"[Category, ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 (...",NaN,NaN,[437],[40000]
1,"Description:Βαρύ για ΣΟΒΕΛ,Category:Ferrous,na...",CONTAINS,[Ferrous],"[Category, ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 (...",NaN,NaN,[437],[40000]

### Create columns for `te_anamet_unq`

In [77]:
te_anamet_unq

array(['Categorisation', 'Category', 'Description', 'Dimensions', 'Form',
       'Free_of', 'Material', 'Specifications', 'Title', 'ewc',
       'finalValue', 'full_community_id', 'name', 'orderCount',
       'startingValue', 'startingWeight', 'waste', 'wastePercentage'],
      dtype='<U17')

In [78]:
for col in te_anamet_unq:
    anamet_sheet[col+"_trg"] = np.nan

Fill the above columns

In [79]:
df = anamet_sheet
col = 'Target Entity'
for row in tqdm(range(len(df))):
    split_1 = len(df[col].iloc[row].split(':')) - 1

    for i in range(0, split_1):
        if(len(df[col].iloc[row].split(':')[i].split(',')) == 1):
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    

        else:
            last_element = len(df[col].iloc[row].split(':')[i].split(',')) - 1
            col_name = (df[col].iloc[row].split(':')[i].split(',')[last_element]+'_trg')    
            value = (df[col].iloc[row].split(':')[i+1].split(','))    
        
        value_to_fill = set(value) - set(te_materials_unq)
        df[col_name].iloc[row] = list(value_to_fill)
#         print(col_name, list(set(value) - set(te_materials_unq)))

  0%|                                                  | 0/1234 [00:00<?, ?it/s]/tmp/ipykernel_12998/583520602.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_name].iloc[row] = list(value_to_fill)
100%|██████████████████████████████████████| 1234/1234 [00:01<00:00, 653.71it/s]

In [80]:
anamet_sheet.drop('Target Entity', axis=1, inplace=True)
anamet_sheet.head(2)

,Relationship,Category_src,Description_src,EDescription_src,GDescription_src,full_community_id_src,name_src,Categorisation_trg,Category_trg,Description_trg,...,Title_trg,ewc_trg,finalValue_trg,full_community_id_trg,name_trg,orderCount_trg,startingValue_trg,startingWeight_trg,waste_trg,wastePercentage_trg
0,CONTAINS,[Ferrous],"[Category, ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 (...",NaN,NaN,[437],[40000],NaN,[Ferrous],"[Σύρματα + διάφορο, Category]",...,NaN,NaN,NaN,[442],[9104],NaN,NaN,NaN,NaN,NaN
1,CONTAINS,[Ferrous],"[Category, ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M3 (...",NaN,NaN,[437],[40000],NaN,[Ferrous],"[Βαρύ για ΣΟΒΕΛ, Category]",...,NaN,NaN,NaN,[444],[9107],NaN,NaN,NaN,NaN,NaN

In [81]:
anamet_sheet.to_csv('anamet_df.csv')

# READ `ANAMET` DATA

In [82]:
anamet_sheet = pd.read_csv('anamet_df.csv', index_col=0)
anamet_sheet.head()

,Relationship,Category_src,Description_src,EDescription_src,GDescription_src,full_community_id_src,name_src,Categorisation_trg,Category_trg,Description_trg,...,Title_trg,ewc_trg,finalValue_trg,full_community_id_trg,name_trg,orderCount_trg,startingValue_trg,startingWeight_trg,waste_trg,wastePercentage_trg
0,CONTAINS,['Ferrous'],"['Category', 'ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M...",NaN,NaN,['437'],['40000'],NaN,['Ferrous'],"['Σύρματα + διάφορο', 'Category']",...,NaN,NaN,NaN,['442'],['9104'],NaN,NaN,NaN,NaN,NaN
1,CONTAINS,['Ferrous'],"['Category', 'ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M...",NaN,NaN,['437'],['40000'],NaN,['Ferrous'],"['Βαρύ για ΣΟΒΕΛ', 'Category']",...,NaN,NaN,NaN,['444'],['9107'],NaN,NaN,NaN,NaN,NaN
2,CONTAINS,['Ferrous'],"['Category', 'ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M...",NaN,NaN,['437'],['40000'],NaN,['Ferrous'],"['ζάντες + βαρύ προς shredder κλπ από ΟΤΚΖ', '...",...,NaN,NaN,NaN,['441'],['9103'],NaN,NaN,NaN,NaN,NaN
3,CONTAINS,['Ferrous'],"['Category', 'ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M...",NaN,NaN,['437'],['40000'],NaN,"['Ferrous', 'Description']",['κουτάκι'],...,NaN,NaN,NaN,['439'],['9101'],NaN,NaN,NaN,NaN,NaN
4,CONTAINS,['Ferrous'],"['Category', 'ΣΚΡΑΠ ΨΑΛΙΔΙΣΜΕΝΟ ΠΥΚΝ >450 ΚG/M...",NaN,NaN,['437'],['40000'],NaN,"['Ferrous', 'Description']",['άγνωστο'],...,NaN,NaN,NaN,['438'],['9000'],NaN,NaN,NaN,NaN,NaN

In [83]:
process_sheet['Relationship'].value_counts()

IS_PROCESSED_WITH    101
PRODUCES               4
Name: Relationship, dtype: int64