In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('toy_dataset.csv', index_col=0)
df

,r1,r3,r2,r4,r5,r6,r7,r8,r9,r10,...,r14,r15,r16,InputA,InputI,OutputX,OutputN,id,growth,optimal
0,0.0,0.1,-1.000000e-01,-2.000000e-01,1.2,1.000000e+00,1.000000e+00,1.0,1.0,-6.938894e-17,...,0.000000e+00,0.000000e+00,1.0,1.0,1.0,3.0,1.0,r1,3.0,0
1,1.0,0.0,1.000000e+00,2.000000e+00,1.0,3.000000e+00,3.000000e+00,3.0,1.0,0.000000e+00,...,0.000000e+00,0.000000e+00,2.0,1.0,1.0,9.0,1.0,r3,9.0,1
2,1.0,1.0,0.000000e+00,0.000000e+00,3.0,3.000000e+00,3.000000e+00,3.0,1.0,0.000000e+00,...,0.000000e+00,0.000000e+00,2.0,1.0,1.0,9.0,1.0,r2,9.0,1
3,1.0,1.0,0.000000e+00,0.000000e+00,3.0,3.000000e+00,3.000000e+00,3.0,1.0,0.000000e+00,...,0.000000e+00,0.000000e+00,2.0,1.0,1.0,9.0,1.0,r4,9.0,1
4,1.0,0.1,9.000000e-01,1.800000e+00,1.2,3.000000e+00,3.000000e+00,3.0,1.0,0.000000e+00,...,0.000000e+00,0.000000e+00,2.0,1.0,1.0,9.0,1.0,r5,9.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4041,1.0,1.0,2.220446e-16,1.776357e-15,2.0,2.000000e+00,2.000000e+00,2.0,0.0,-2.960595e-16,...,-4.440892e-16,-4.440892e-16,1.0,1.0,0.0,6.0,0.0,"InputI,OutputN,OutputN",6.0,1
4042,1.0,1.0,-1.000000e+00,-2.000000e+00,2.0,-2.220446e-16,-2.220446e-16,-1.0,0.0,1.000000e+00,...,1.000000e+00,1.000000e+00,1.0,1.0,0.0,0.0,0.0,"OutputX,OutputX,OutputX",0.0,1
4043,1.0,1.0,-1.000000e+00,-2.000000e+00,2.0,-2.220446e-16,-2.220446e-16,-1.0,0.0,1.000000e+00,...,1.000000e+00,1.000000e+00,1.0,1.0,0.0,0.0,0.0,"OutputX,OutputX,OutputN",0.0,1
4044,1.0,1.0,-1.000000e+00,-2.000000e+00,2.0,-2.220446e-16,-2.220446e-16,-1.0,0.0,1.000000e+00,...,1.000000e+00,1.000000e+00,1.0,1.0,0.0,0.0,0.0,"OutputX,OutputN,OutputN",0.0,1
4045,1.0,1.0,2.220446e-16,1.776357e-15,2.0,2.000000e+00,2.000000e+00,2.0,0.0,-2.960595e-16,...,-4.440892e-16,-4.440892e-16,1.0,1.0,0.0,6.0,0.0,"OutputN,OutputN,OutputN",6.0,1

In [ ]:
df_no_id = df.drop('id',axis=1)
df_no_id.head(2)

In [6]:
df[['rxn_a','rxn_b','rxn_c']] = df['id'].str.split(',', expand=True)
df.head(2)

,r1,r3,r2,r4,r5,r6,r7,r8,r9,r10,...,InputI,OutputX,OutputN,id,growth,optimal,rxn_a,rxn_b,rxn_c,no_deletions
0,0.0,0.1,-0.1,-0.2,1.2,1.0,1.0,1.0,1.0,-6.938894e-17,...,1.0,3.0,1.0,r1,3.0,0,r1,None,None,1
1,1.0,0.0,1.0,2.0,1.0,3.0,3.0,3.0,1.0,0.000000e+00,...,1.0,9.0,1.0,r3,9.0,1,r3,None,None,1

In [7]:
def count_deletions(x):

    return len(x.split(','))

no_delitions = []
for row in range(len(df)):

    num = count_deletions(df['id'].iloc[row])
    no_delitions.append(num)

df['no_deletions'] = no_delitions
df.head(2)

,r1,r3,r2,r4,r5,r6,r7,r8,r9,r10,...,InputI,OutputX,OutputN,id,growth,optimal,rxn_a,rxn_b,rxn_c,no_deletions
0,0.0,0.1,-0.1,-0.2,1.2,1.0,1.0,1.0,1.0,-6.938894e-17,...,1.0,3.0,1.0,r1,3.0,0,r1,None,None,1
1,1.0,0.0,1.0,2.0,1.0,3.0,3.0,3.0,1.0,0.000000e+00,...,1.0,9.0,1.0,r3,9.0,1,r3,None,None,1

# Find Duplicated Rows due to multi-deletions